@import './base/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/typography';
@import './base/default';
@import './components/buttons';
@import './components/menu';
@import './components/footer';

body{
    background: $background;
    font-family: $main;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main{
        flex-grow: 1;
        padding: 80px;
        min-height: 800px;
    }

    
}