@import './base/reset';
@import './utils/variables';
@import './base/typography';
@import './base/default';
@import './components/buttons';
@import './components/menu';

body{
    height: 100vh;
    background: $background;
    font-family: $main;

    .checkbox-toggler{
        display: none;

        &:checked + .nav-button .nav-logo{
            transform: scale(0);
        }

        &:checked + .nav-button .nav-icon{
            background-color: transparent;
            opacity: 1;
        }
        &:checked + .nav-button .nav-icon::before{
            transform: translateY(0px) rotate(-135deg);
        }
        &:checked + .nav-button .nav-icon::after{
            transform: translateY(0px) rotate(135deg);
        }
        &:checked ~ .navigation{
            opacity: 1;
            transform: translateX(0%);
        }
        &:checked ~ .nav-bg{
            transform: scale(80);
        }
    }

    .nav-button{
        background-color: $alternateBackground;
        height: 100px;
        width: 100px;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 20;
        box-shadow: $boxShadow;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-logo{
            padding: 5px;
            position: absolute;
            transform: scale(1);
        }

        .nav-icon{
            width: 50px;
            height: 2px;
            background-color: $dark;
            position: relative;
            opacity: 0;
            
            &::before,
            &::after{
                content: "";
                width: 50px;
                height: 2px;
                background-color: $dark;
                position: absolute;
                transition: all .2s;
            }
            &::before{
                transform: translateY(-12px);
            }
            &::after{
                transform: translateY(12px);
            }
        }
    }

    .nav-bg{
        height: 80px;
        width: 80px;
        border-radius: 50px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        background-image: radial-gradient($primaryText, $background);
        z-index: 10;
        transition: transform $menuBezier;
    }

    .navigation{
        height: 100vh;
        width: 100%;
        position: fixed;
        transform: translateX(-100%);
        opacity: 0;
        z-index: 15;
        transition: all $menuBezier;

        .nav-list{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style-type: none;
            text-align: center;
            width: 100%;

            .nav-link{
                display: inline-block;
                margin-top: 20px;
                font-size: 5rem;
                font-weight: 300;
                color: $secondaryText;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}