@import './base/reset';
@import './utils/variables';
@import './utils/mixins';
@import './base/typography';
@import './base/default';
@import './components/buttons';
@import './components/menu';

body{
    height: 100vh;
    background: $background;
    font-family: $main;


}