
// colors

$background: #f0ead2;
$alternateBackground: #a98467;
$primaryText: #adc178;
$secondaryText: #6c584c;
$light: #dde5b6;

// fonts

$title: "Cinzel Decorative", sans-serif;
$main: "Raleway", sans-serif;