/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

section {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 200; }
  section h1, section h2 {
    font-size: 3rem;
    font-family: "Cinzel Decorative", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }

.checkbox-toggler {
  display: none; }
  .checkbox-toggler:checked + .nav-button .nav-logo {
    transform: scale(0) rotate(0); }
    @media screen and (min-width: 900px) {
      .checkbox-toggler:checked + .nav-button .nav-logo {
        transform: scale(1) rotate(-360deg); } }
  .checkbox-toggler:checked + .nav-button .nav-icon {
    background-color: transparent;
    opacity: 1; }
  .checkbox-toggler:checked + .nav-button .nav-icon::before {
    transform: translateY(0px) rotate(-135deg); }
  .checkbox-toggler:checked + .nav-button .nav-icon::after {
    transform: translateY(0px) rotate(135deg); }
  .checkbox-toggler:checked ~ .navigation {
    opacity: 1;
    transform: translateX(0%); }
  .checkbox-toggler:checked ~ .nav-bg {
    transform: scale(80); }

.nav-button {
  background-color: #a98467;
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 45px;
  right: 45px;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 900px) {
    .nav-button {
      top: 3px;
      z-index: 100;
      box-shadow: none;
      height: 75px;
      width: 75px; } }
  .nav-button .nav-logo {
    padding: 5px;
    position: absolute;
    transform: scale(1) rotate(-360deg);
    transition: all .2s; }
    @media screen and (min-width: 900px) {
      .nav-button .nav-logo {
        transition: none; } }
  .nav-button .nav-icon {
    width: 50px;
    height: 2px;
    background-color: #222;
    position: relative;
    opacity: 0; }
    .nav-button .nav-icon::before, .nav-button .nav-icon::after {
      content: "";
      width: 50px;
      height: 2px;
      background-color: #222;
      position: absolute;
      transition: all .2s; }
    .nav-button .nav-icon::before {
      transform: translateY(-12px); }
    .nav-button .nav-icon::after {
      transform: translateY(12px); }
    @media screen and (min-width: 900px) {
      .nav-button .nav-icon {
        display: none; } }

.nav-bg {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-image: radial-gradient(#adc178, #f0ead2);
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media screen and (min-width: 900px) {
    .nav-bg {
      display: none; } }

.navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 15;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media screen and (min-width: 900px) {
    .navigation {
      transform: translateX(0);
      opacity: 1;
      height: 80px;
      background: #a98467;
      z-index: 99;
      transition: none; } }
  .navigation .nav-list {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 900px) {
      .navigation .nav-list {
        display: flex;
        justify-content: center;
        left: 0%;
        transform: translate(0%, -30%); } }
    .navigation .nav-list .nav-link {
      display: inline-block;
      margin-top: 20px;
      font-size: 5rem;
      font-weight: 300;
      color: #6c584c;
      text-decoration: none;
      text-transform: uppercase; }
      @media screen and (min-width: 900px) {
        .navigation .nav-list .nav-link {
          font-size: 2rem;
          text-transform: none;
          padding: 0 20px;
          color: #adc178;
          font-weight: 600;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 0px;
          display: block; }
          .navigation .nav-list .nav-link::after {
            content: '';
            display: block;
            width: 0px;
            margin: 3px auto 0 auto;
            height: 2px;
            border-radius: 2px;
            background: #dde5b6;
            transition: width 0.2s ease-out; }
          .navigation .nav-list .nav-link:hover::after {
            width: 100%; } }

footer {
  background: #a98467;
  color: #adc178;
  padding-bottom: 50px;
  font-size: 1.7rem; }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: -75px auto 0; }
    @media screen and (min-width: 900px) {
      footer .footer-container {
        flex-direction: row;
        justify-content: center;
        max-width: 1100px;
        margin: -100px auto 0;
        padding: 0 20px; } }
    footer .footer-container .footer-form {
      flex-basis: 60%;
      background: #adc178;
      color: #6c584c;
      height: 350px;
      padding: 30px; }
      @media screen and (min-width: 900px) {
        footer .footer-container .footer-form {
          padding: 70px; } }
      footer .footer-container .footer-form .form-title {
        font-size: 4rem;
        margin-bottom: 75px; }
      footer .footer-container .footer-form input {
        border: none;
        padding: 10px;
        border-radius: 3px;
        font-size: 1.8rem;
        width: 100%; }
      footer .footer-container .footer-form button {
        padding: 10px 5px;
        border: none;
        border-radius: 3px;
        width: 100%;
        margin-top: 10px;
        background: #f0ead2;
        color: #6c584c;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        transition: all .2s; }
        footer .footer-container .footer-form button:hover {
          background: #a98467;
          color: #adc178; }
    footer .footer-container .about-footer, footer .footer-container .medias-footer, footer .footer-container .footer-list {
      min-height: auto;
      width: 50%;
      margin-left: 50px; }
      @media screen and (min-width: 900px) {
        footer .footer-container .about-footer, footer .footer-container .medias-footer, footer .footer-container .footer-list {
          min-height: 250px;
          flex-direction: row;
          margin-left: 0; } }
      footer .footer-container .about-footer .footer-title, footer .footer-container .medias-footer .footer-title, footer .footer-container .footer-list .footer-title {
        font-size: 2.3rem;
        padding-bottom: 10px; }
    footer .footer-container .footer-list, footer .footer-container .medias-footer {
      padding: 50px 0 0; }
      @media screen and (min-width: 900px) {
        footer .footer-container .footer-list, footer .footer-container .medias-footer {
          width: 33%; } }
    footer .footer-container .footer-list ul li a {
      text-decoration: none;
      color: #adc178; }
    footer .footer-container .about-footer {
      padding: 40px 0 0; }
      @media screen and (min-width: 900px) {
        footer .footer-container .about-footer {
          width: 40%;
          padding: 110px 40px 0; } }
      footer .footer-container .about-footer .footer-txt {
        line-height: 1.4; }
    footer .footer-container .medias-footer {
      display: flex; }
      footer .footer-container .medias-footer a {
        flex-shrink: 0;
        display: block;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        background: #adc178;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
        footer .footer-container .medias-footer a img {
          width: 30px; }

body {
  background: #f0ead2;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  body .hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/hero-section-photo-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (min-width: 900px) {
      body .hero-section {
        background-image: url(../images/hero-section-photo-1.jpg); } }
    body .hero-section .head-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-25%);
      padding: 25px;
      color: #adc178;
      overflow: hidden; }
      @media screen and (min-width: 900px) {
        body .hero-section .head-title {
          width: 50%;
          align-items: flex-end;
          padding-right: 200px;
          transform: translateY(0%); } }
      body .hero-section .head-title h1 {
        font-family: "Cinzel Decorative", sans-serif;
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 30px;
        text-align: center;
        display: inline-block;
        width: 100%;
        text-shadow: 4px 3px 0px rgba(173, 193, 120, 0.3), 0px 0px 3px rgba(173, 193, 120, 0.3), 0px 0px 9px rgba(173, 193, 120, 0.4);
        transform: translateX(100%);
        opacity: 0;
        transition: all .5s ease-out; }
        body .hero-section .head-title h1.visible {
          transform: translateX(0%);
          opacity: 1; }
        @media screen and (min-width: 900px) {
          body .hero-section .head-title h1 {
            text-align: right;
            font-size: 6rem; } }
      body .hero-section .head-title h2 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.5;
        text-align: right;
        display: inline-block;
        width: 100%;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .5s ease-out; }
        body .hero-section .head-title h2.visible {
          transform: translateX(0%);
          opacity: 1; }
        @media screen and (min-width: 900px) {
          body .hero-section .head-title h2 {
            font-size: 5rem; } }
      body .hero-section .head-title p {
        font-size: 1.5rem;
        line-height: 1.4;
        text-align: right;
        display: inline-block;
        width: 100%;
        opacity: 0;
        transition: all .5s ease-out; }
        body .hero-section .head-title p.visible {
          opacity: 1; }
        @media screen and (min-width: 900px) {
          body .hero-section .head-title p {
            font-size: 2.5rem; } }
  body main {
    flex-grow: 1;
    padding: 80px;
    min-height: 800px; }
