.checkbox-toggler{
    display: none;

    &:checked + .nav-button .nav-logo{
        transform: scale(0) rotate(0);

        @include for-desktop{
            transform: scale(1) rotate(-360deg);
        }
    }

    &:checked + .nav-button .nav-icon{
        background-color: transparent;
        opacity: 1;
    }
    &:checked + .nav-button .nav-icon::before{
        transform: translateY(0px) rotate(-135deg);
    }
    &:checked + .nav-button .nav-icon::after{
        transform: translateY(0px) rotate(135deg);
    }
    &:checked ~ .navigation{
        opacity: 1;
        transform: translateX(0%);
    }
    &:checked ~ .nav-bg{
        transform: scale(80);
    }
}

.nav-button{
    background-color: $alternateBackground;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 45px;
    right: 45px;
    border-radius: 50%;
    z-index: 20;
    box-shadow: $boxShadow;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop{
        top: 3px;
        z-index: 100;
        box-shadow: none;
        height: 75px;
        width: 75px;
    }

    .nav-logo{
        padding: 5px;
        position: absolute;
        transform: scale(1) rotate(-360deg);
        transition: all .2s;

        @include for-desktop{
            transition: none;
        }
    }

    .nav-icon{
        width: 50px;
        height: 2px;
        background-color: $dark;
        position: relative;
        opacity: 0;
        
        &::before,
        &::after{
            content: "";
            width: 50px;
            height: 2px;
            background-color: $dark;
            position: absolute;
            transition: all .2s;
        }
        &::before{
            transform: translateY(-12px);
        }
        &::after{
            transform: translateY(12px);
        }

        @include for-desktop{
            display: none;
        }
    }
}

.nav-bg{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-image: radial-gradient($primaryText, $background);
    z-index: 10;
    transition: transform $menuBezier;

    @include for-desktop{
        display: none;
    }
}

.navigation{
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 15;
    transition: all $menuBezier;

    @include for-desktop {
        transform: translateX(0);
        opacity: 1;
        height: 80px;
        background: $alternateBackground;
        z-index: 99;
        transition: none;
    }

    .nav-list{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        text-align: center;
        width: 100%;
        
        @include for-desktop{
            display: flex;
            justify-content: center;
            left: 0%;
            transform: translate(0%, -30%);
        }
      
        .nav-link{
            display: inline-block;
            margin-top: 20px;
            font-size: 5rem;
            font-weight: 300;
            color: $secondaryText;
            text-decoration: none;
            text-transform: uppercase;
            
            @include for-desktop{
                font-size: 2rem;
                text-transform: none;
                padding: 0 20px;
                color: $primaryText;
                font-weight: 600;
                letter-spacing: 2px;
                text-align: center;
                margin-top: 0px;
                display: block;

                &::after{
                    content: '';
                    display: block;
                    width: 0px;
                    margin: 3px auto 0 auto;
                    height: 2px;
                    border-radius: 2px;
                    background: $light;
                    transition: width 0.2s ease-out;
                }
                &:hover::after{
                    width: 100%;
                }
            }
        }
    }
}